
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="{{ 'admin.title'|trans }}">
  <meta name="author" content="Şafak Saylam">
  <title>{{ 'admin.title'|trans }}</title>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta/css/bootstrap.min.css">
  <style type="text/css">
    body {
      padding-top: 40px;
      padding-bottom: 40px;
      background-color: #eee;
    }

    .form-signin {
      max-width: 450px;
      padding: 15px;
      margin: 0 auto;
    }
    .form-signin .form-signin-heading,
    .form-signin .checkbox {
      margin-bottom: 10px;
    }
    .form-signin .checkbox {
      font-weight: 400;
    }
    .form-signin .form-control {
      position: relative;
      box-sizing: border-box;
      height: auto;
      padding: 10px;
      font-size: 16px;
    }
    .form-signin .form-control:focus {
      z-index: 2;
    }
    .form-signin input[type="email"] {
      margin-bottom: -1px;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
    }
    .form-signin input[type="password"] {
      margin-bottom: 10px;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
  </style>
</head>

<body>

<div class="container">

  <form method="post" action="{{ path('login_check') }}" class="form-signin">
    <h2 class="form-signin-heading">{{ 'admin.title'|trans }}</h2>
    {% if error %}
      <div class="alert alert-danger alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
        {% for err in error %}
          {{ err }}{% if not loop.last %}<br>{% endif %}
        {% endfor %}
      </div>
    {% endif %}
    <label for="inputEmail" class="sr-only">{{ 'admin.email'|trans }}</label>
    <input type="email" name="_username" id="inputEmail" class="form-control" placeholder="{{ 'admin.email'|trans }}" required autofocus>
    <label for="inputPassword" class="sr-only">{{ 'admin.password'|trans }}</label>
    <input type="password" name="_password" id="inputPassword" class="form-control" placeholder="{{ 'admin.password'|trans }}" required>
    <div class="checkbox">
      <label>
        <input type="checkbox" value="remember-me"> {{ 'admin.rememberMe'|trans }}
      </label>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">{{ 'admin.login'|trans }}</button>
  </form>

</div> <!-- /container -->
</body>
</html>
